@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    <h4>Наши цены</h4>
    <p>Более подробно на главном сайте: <a href="https://3d-glass.by/">3d-glass.by</a>.</p>
</div>
