@page
@model ServicesModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    <h4>С нами вы превратите свой автомобиль в произведение искусства!</h4>
    <p>Благодаря быстрой, качественной и простой установке наша работа сделает ваш автомобиль гораздо более заметным и выделяющимся, в самом лучшем смысле, естественно!!! Наши <strong>пленки</strong> доступны в огромном диапазоне цветов и отделки. Если вы ищите максимальное визуальное воздействие и(или) надежную долговечность и защиту, наши специалисты предоставят вам всю информация и выполнят услугу, в самый кротчайший срок.</p>
    <div>Мы работает с пленками премиум-класса которые сочетают в себе стиль, эффективность, универсальность и качество:</div>
    @foreach (var brand in Model.Brands)
    {
        <strong class="the-brightest">@brand</strong> <br />
    }
    <div>Если вы ищете <strong>пленку</strong>, которая сочетает в себе превосходные характеристики внешего вида, качества и скорости нанесения, обратите внимание на пленку <strong>@Model.TopBrand</strong>. Эта двухслойная пленка сочетает в себе цвет, текстуру и прозрачные защитные слои, обеспечивая гладкое, похожее на краску покрытие, прочное и ослепительное.</div>
    <div>Благодаря выбору более чем из 150 цветов и текстур мы предлогаем более широкую палитру вариантов, чем когда-либо прежде. И... наши специалисты предоставят вам практически любой цвет, который вам нравится! Также у нас вы можете приобрести и установить пленку с классически-строгими вариантами цвета.</div>
</div>
